---
layout: page
title: "category"
description: "article group by category"
header-img: "img/home-bg.jpg"
---
<hr>
ooo
<!--{% for page in site.pages %}{% if page.url contains "projects/" %}{% if page.title %}-->

<!--	<div style="padding: 10px">-->
<!--		<a href="{{ page.url | prepend: site.baseurl }}"><h2>{{ page.title }}</h2></a>-->
<!--	</div>-->

<!--{% endif %}{% endif %}{% endfor %}-->

{% for category in site.categories %}
<h2>{{ category | first }}<span style="font-size: 16px">({{ category | last | size }})</span></h2>
<ul class="post-list">
	{% for post in category.last %}
	<li><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }} - <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></a></li>
	{% endfor %}
</ul>
{% endfor %}