---
layout: page
title: "category"
description: "article group by category"
header-img: "img/home-bg.jpg"
---
<hr>

<!--{% for page in site.pages %}{% if page.url contains "projects/" %}{% if page.title %}-->

<!--	<div style="padding: 10px">-->
<!--		<a href="{{ page.url | prepend: site.baseurl }}"><h2>{{ page.title }}</h2></a>-->
<!--	</div>-->

<!--{% endif %}{% endif %}{% endfor %}-->

{% for category in site.categories %}
<h2>{{ category | first }}</h2>
</span>{{ category | last | size }}</span>
<ul class="arc-list">
	{% for post in category.last %}
	<li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}
</ul>
{% endfor %}